<h1>Welcome to Quartet</h1>
<p>The app that sings back.</p>
<%= button_to "Sign Up / Log In", user_session_path %>


<!--HTML from anywhere-->
<div data-controller="hello" style="margin-top:10px;">
  <span data-target="hello.output">
  </span>
</div>